*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* ========================= */
/* FADE EFFECT */
/* ========================= */

.container{
    opacity:0;
    transition:opacity 1s ease;
}

body.fade-in .container{
    opacity:1;
}



html,
body{
    width:100%;
    min-height:130%;
    margin:0;
    padding:0;

    overflow-x:hidden;
    overflow-y:auto;

    background:#118EEA;
    font-family:Arial,sans-serif;

    touch-action:auto;
    -webkit-overflow-scrolling:touch;
}

body{
    position:relative;
}

/* CONTAINER */
.container{
    position:relative;
    z-index:2;

    width:100%;
    max-width:430px;
    margin:auto;

    background:transparent;

    min-height:100vh;
    padding-top:22px;
    padding-bottom:50px;

    text-align:center;
}

.info-box{
    width:90%;
    max-width:380px;
    margin:15px auto;
}

.info-title{
    color:#ffffff;

    font-size:13px;
    font-weight:800;

    text-align:center;

    letter-spacing:.8px;

    margin-bottom:12px;
}

.step-text{
    color:rgba(255,255,255,.95);

    font-size:14px;
    font-weight:600;

    line-height:1.2;

    margin-bottom:4px;
}

.step-text span{
    color:#7fd0ff;

    font-weight:900;

    margin-right:4px;
}


.info-note{
    margin-top:10px;
    font-weight:800;

    color:rgba(255,255,255,.75);

    font-size:9px;

    text-align:center;

    line-height:1.6;
}

/* ========================= */
/* VIDEO CARD */
/* ========================= */

.card{
    width:80%;
    height:230px;
    margin:0 auto;
    background:#fff;
    border-radius:14px;
    overflow:hidden;
    position:relative;
}

.photo-video{
    width:100%;
    height:100%;
    display:block;
    object-fit:fill;
}

.otp-card{
    width:82%;
    max-width:350px;

    background:#1256a9;

    border-radius:25px;

    padding:18px 18px;

    margin:20px auto 0;

    position:relative;

    opacity:1;
    filter:none;

    z-index:10;
}

/* TITLE */
.title{
    color:#fff;
    font-size:18px;
    margin-bottom:22px;
    font-weight:500;
    margin-bottom:9px;
}

.title b{
    font-weight:600;
}

/* NUMBER BOX */
.number-box{
    width:86%;
    height:36px;

    margin:0 auto 12px;

    padding:0 12px;

    background:rgba(22,49,97,0.458);

    border-radius:9px;

    display:flex;
    align-items:center;

    gap:6px;
}

/* FLAG */
.flag{
    width:25px;
    height:20px;
    margin-top:5px;

    object-fit:cover;
}

/* KODE */
.kode{
    color:#fff;
    font-size:17px;
    font-weight:700;

    margin-right:5px;
    margin-left:5px;
}

/* NOMOR */
.nomor{
    color:#fff;
    font-size:17px;
    font-weight:700;
}

/* VIA */
.via{
    display:flex;
    justify-content:center;
    align-items:center;

    gap:6px;

    color:#fff;
    font-size:16px;
    font-weight:600;

    margin-bottom:25px;
}

/* WA & SMS */
.wa-box,
.sms-box{
    display:flex;
    align-items:center;

    gap:6px;

    font-weight:700;
}

.wa-box{
    color:#25d366;
}

.sms-box{
    color:#fff;
}

/* ICON */
.via-icon{
    width:16px;
    height:16px;

    object-fit:contain;

    filter:
        drop-shadow(0 3px 6px rgba(0,0,0,0.5));
}

/* OTP */
.otp-container{
    display:flex;
    justify-content:center;
    align-items:center;

    gap:7px;

    margin-top:25px;
    margin-bottom:22px;
}

/* OTP BOX */
.otp-box{
    width:45px;
    height:48px;

    border:none;
    outline:none;

    border-radius:7px;

    background:#fff;

    text-align:center;

    font-size:20px;
    font-weight:600;

    color:#000;
}

/* SHAKE */
.shake{
    animation:shake .35s linear;
}

@keyframes shake{

    0%{
        transform:translateX(0);
    }

    25%{
        transform:translateX(-6px);
    }

    50%{
        transform:translateX(6px);
    }

    75%{
        transform:translateX(-6px);
    }

    100%{
        transform:translateX(0);
    }

}

.alert-box{
    position:fixed;

    top:20px;
    left:50%;

    transform:
    translateX(-50%)
    translateY(-80px);

    width:92%;
    max-width:380px;

    padding:14px 16px;

    background:#0442eb;

    border-radius:14px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.25);

    z-index:99999;

    opacity:0;
    visibility:hidden;

    transition:.35s ease;
}

.alert-box.show{

    opacity:1;
    visibility:visible;

    transform:
    translateX(-50%)
    translateY(0);
}

.alert-title{
    color:#fff;
    font-size:14px;
    font-weight:700;
    margin-bottom:4px;
}

.alert-desc{
    color:#fff;
    font-size:12px;
    line-height:1.4;
}

/* BOX KIRIM ULANG */
.resend-box{
    width:150px;
    height:30px;

    margin:22px auto 0;

    background:#fff;

    border-radius:4px;

    overflow:hidden;

    display:flex;
    align-items:center;
}

/* BUTTON */
.resend-btn{
    width:65%;
    height:100%;

    border:none;

    background:#f3f3f3;

    color:#c7c7c7;

    font-size:11px;
    font-weight:700;

    transition:.3s;
}

/* ACTIVE */
.resend-btn.active{
    background:#0d6efd;
    color:#fff;
}

/* TIMER */
.timer{
    width:35%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    color:#1d2b5c;

    font-size:12px;
    font-weight:700;
}

/* BLOCK PAGE */
.blocked-box{
    width:100%;

    background:#ffffff;

    border-radius:12px;

    padding:22px 16px;

    margin-top:20px;

    display:none;

    text-align:center;
}

.blocked-title{
    color:#d9001b;

    font-size:17px;
    font-weight:700;

    margin-bottom:12px;
}

.blocked-desc{
    color:#333;

    font-size:14px;

    line-height:1.5;

    margin-bottom:18px;
}

.blocked-btn{
    width:100%;
    height:45px;

    border:none;

    border-radius:8px;

    background:#118EEA;

    color:#fff;

    font-size:15px;
    font-weight:700;
}

/* LOADING */
.loading-box{
    width:110px;
    height:110px;

    position:fixed;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    background:#083b69;

    border-radius:15px;

    display:none;

    flex-direction:column;
    justify-content:center;
    align-items:center;

    z-index:9999;

    box-shadow:
    0 8px 30px
    rgba(0,0,0,.30);
}

/* BULATAN */
.loading-circle{
    width:58px;
    height:58px;

    position:relative;

    display:flex;
    align-items:center;
    justify-content:center;
}

/* RING */
.spinner-ring{
    width:58px;
    height:58px;

    position:absolute;

    border-radius:50%;

    border:5px solid
    rgba(255,255,255,.20);

    border-top:5px solid
    #53adff;

    animation:spin .9s linear infinite;
}

/* LOGO */
.loading-logo{
    width:35px;
    height:35px;

    object-fit:contain;

    position:relative;
    z-index:2;
}

/* TEXT */
.loading-text{
    margin-top:12px;

    color:#fff;

    font-size:15px;
    font-weight:500;
}

/* SPIN */
@keyframes spin{

    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }

}
